@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--font-inter: 'Inter Variable', sans-serif;

		/* colors */

		--background: 240 10% 8%;
		--foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply min-h-screen bg-background font-inter text-foreground antialiased;
	}
}
